node_modules
./**/node_modules
WebhookSender
WeatherDisplay
UserBirthdays
UserBackgrounds
TopRolesEverywhere
TestPlugin
Test
ShowSessions
ServerLookup
PcCompat
MessageLinkEmbed
CustomActions
CoffeeTest
ChatAliases
builds
PlatformIndicators
./*.plugin.js