node_modules
./**/node_modules
WebhookSender
WeatherDisplay
UserBirthdays
UserBackgrounds
TopRolesEverywhere
TestPlugin
Test
ShowSessions
ServerLookup
PcCompat
CustomActions
CoffeeTest
ChatAliases
builds
./*.plugin.js
