$padding: 20px;

.arrow {
    position: absolute;
    top: 0;
    z-index: 99;
    padding-top: $padding;
    padding-bottom: $padding;

    svg {
        color: var(--interactive-normal);
    }

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }
}

.container {
    display: block;
    position: relative;
}

.badge {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 99;
}

/* UserBackground Plugin My Account fix by _david_ */
:global(.accountProfileCard-lbN7n-) > .container {
    height: 100px;
}
:global(.accountProfileCard-lbN7n-) .badge + div,
:global(.accountProfileCard-lbN7n-) .left + div {
    width: 100%;
    background: center / cover;
}