.remove {
    display: none;
    position: absolute;
    top: -15px;
    right: -30px;
}

:kss(bannedUser) {

    /* Just don't ask. https://i.imgur.com/gW9eL9p.png */
    &::before {
        background-color: rgba(32, 34, 37, .3);
        border-color: #202225;
    }

    :kss(username bannedUser) {
        white-space: nowrap;
        padding-left: 0;
    }

    &:hover .remove {
        display: flex;
    }
}

.banReason {
    text-overflow: ellipsis;
    color: var(--interactive-normal);
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 1px;
    max-width: 600px;
    display: inline-block;
    align-items: center;
}

.wrapper {
    margin-left: 10px;
    z-index: 10;
}

.container {
    margin-bottom: 20px;
}

.search {
    margin-top: 10px;
}

.disabled {
    pointer-events: none;
}