.Changelog-Title-Wrapper {
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-display);
    color: var(--header-primary);
    line-height: 1.2;

    div {
        font-size: 12px;
        font-weight: 400;
        font-family: var(--font-primary);
        color: var(--primary-300);
        line-height: 1.3333333333333333;
    }
}

.Changelog-Banner {
    width: 405px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.Changelog-Item {
    color: #c4c9ce;

    .Changelog-Header {
        display: flex;
        text-transform: uppercase;
        font-weight: 700;
        align-items: center;
        margin-bottom: 10px;

        &.added { color: #45BA6A; }
        &.changed { color: #F0B232; }
        &.fixed { color: #EC4245; }
        &.improved { color: #5865F2; }

        &::after {
            content: "";
            flex-grow: 1;
            height: 1px;
            margin-left: 7px;
            background: currentColor;
        }
    }

    span {
        display: list-item;
        list-style: inside;
        margin-left: 5px;

        &::marker {
            color: var(--background-accent);
        }
    }
}