/**
 * @name BetterDarkMode
 * @author Strencher
 * @version 1.1.1
 * @description A better dark mode theme. Requires 'normalize classes'! User the ThemeSettings Plugin to customize the Theme.
 * @source https://strencher.github.io/import_darktheme.css
*/
@import url(https://strencher.github.io/import_darktheme.css);
:root {
    --Accent-color: #9900ff; /*The account color. [default = #34F141]*/
    --Mentioned-color: #ff0000; /*The color if you get mentioned. [default = #ff0000]*/
    --Mentioned-background: rgba(255,0,0,0.2); /*The backgroundcolor from the mentioned message. [default = rgba(52,241,65,.05)]*/
    --link-color: #34F141; /*The color of links like https://BetterDiscord.net [default = #34F141]*/
    --Mentioned-text-Font: Arial; /*The font of the mentioned messages inline included Role-mentionations. [default = Arial]*/
    --Channels-Color: #8e9297; /*Color of Channels (voice & text). [default = #8E9297]*/
    --Unred-Messages-Wrapper: #808080; /*Background color of the "New unred messsages wrapper". [default = grey]*/
    --Code-Block: #000000; /* Background of the code blocks. [default = black]*/
    --Channel-Background: rgba(235,3,3,.2); /*Color of an #channel message. [default = rgba(235,3,3,.1)]*/
    --Channel-Color: #ffffff; /*Background of an #channel message. [default = #ffffff]*/
    --Important: !important; /*Clear the field if you dont want to add !Important to Codes. [default = !important]*/
    --Block-Quotes: #9900ff; /*Color of the edge of BlockQuotes. [default = #9900ff]*/
    --Border-radius-textarea: 25px; /*How severely the corners should be rounded. [default = 35px]*/
    --Already-Theme-Settings: block; /*If you already installt the ThemeSettings, set this to "none" without quotation marks.*/
}
