/* Channel unread indicator */
.unread-2lAfLh {
    width: 3px;
    left: 2px;
    border-radius: 0;
    height: 30px;
    top: 5px;
    background: var(--text-normal);
}

/* Selected Channel */
.selected-3LIHYU:before {
    content: "";
    width: 3px;
    left: 2px;
    position: absolute;
    height: 30px;
    top: 1px;
    background: var(--text-muted);
}
/* Selected guild pill */
.pill-31IEus.wrapper-sa6paO > .item-2hkk8m {
    border-radius: 0;
    width: 3px;
    height: 30px !important;
    background: var(--text-muted);
    left: 9px;
}

/* Guild Unread pill */
.bd-unread > .pill-31IEus.wrapper-sa6paO > .item-2hkk8m {
    background: white;
    height: 40px !important;
}
