:global(.threads).tooltip {
    margin-bottom: 10px;
    padding-left: 2px;
}

:global(.voiceActivities) {
    .section {
        margin: 0 !important;
    }

    .header {
        font-family: var(--font-display);
    }
}

.divider {
    width: 100%;
    height: 1px;
    background: var(--background-modifier-accent);
    margin-bottom: 15px;
}

.section {
    color: #ddd;
    margin-top: 10px;

    &:not(:first-of-type) {
        margin-bottom: 10px;
    }

    
    .header {
        color: var(--header-secondary);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 8px;
        line-height: 16px;
        // font-family: var(--font-display);
    }
    
    .body {
        display: flex;
        flex-wrap: wrap;
        width: max-content;
        max-width: 290px;
    }
    
    .role {
        font-size: 12px;
        font-weight: 500;
        background: var(--background-secondary-alt);
        border-radius: 4px;
        box-sizing: border-box;
        height: 22px;
        margin: 0 4px 4px 0;
        padding: 4px;
        align-items: center;
        display: flex;

        .avatar {
            border-radius: 50%;
            width: 12px;
            height: 12px;
            padding: 0;
            margin: 0 4px;
            display: flex;
        }

        &.isSelf {
            background: var(--brand-experiment) !important;
        }

        .roleCircle {
            border-radius: 50%;
            width: 12px;
            height: 12px;
            padding: 0;
            margin: 0 4px;
            display: flex;
            background: var(--color, #ddd);
        }

        .roleName {
            max-width: 200px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-right: 4px;
        }
    }
}