.timestamp {
    cursor: default;
    font-weight: 500;
    font-size: 0.75rem;
    margin-left: .25rem;
    line-height: 1.375rem;
    vertical-align: baseline;
    color: var(--text-muted);
}