//META{"name":"BetterDarkMode","description":"A better dark mode theme. Requires 'normalize classes'! User the ThemeSettings Plugin to customize the Theme.","author":"Strencher_","version":"1.0.3"}*//{}

:root {
  --Accent-color: #9900FF; /*The account color. [default = #34F141]*/
  --Mentioned-color: red; /*The color if you get mentioned. [default = #34F141]*/
  --Mentioned-background: rgba(52,241,65,.05); /*The backgroundcolor from the mentioned message. [default = rgba(52,241,65,.05)]*/
  --link-color: #34F141; /*The color of links like https://BetterDiscord.net [default = #34F141]*/
  --Mentioned-text-Font: Arial; /*The font of the mentioned messages inline included Role-mentionations. [default = Arial]*/
  --Channels-Color: #8e9297; /*Color of Channels (voice & text). [default = #8E9297]*/
  --Unred-Messages-Wrapper: grey; /*Background color of the "New unred messsages wrapper". [default = grey]*/
  --Code-Block: black; /* Background of the code blocks. [default = black]*/
  --Channel-Background: rgba(235, 3, 3, .2); /*Color of an #channel message. [default = rgba(235,3,3,.1)]*/
  --Channel-Color: white; /*Background of an #channel message. [default = white]*/
}

/*@Start*/

#bd-settingspane-container .content-column.default .bda-slist::before {
  content: "Please download the ThemeSettings Plugin. Link: https://github.com/mwittrien/BetterDiscordAddons/blob/master/Plugins/ThemeSettings/ThemeSettings.plugin.js If you alredy download it, ignore this." !important;
  color: red !important;
  font-weight: bold !important;
}
/*TextArea*/
.inner-zqa7da {
  border-radius: 20px !important;
}
.textArea-2Spzkt {
  background-color: #222222 !important;
  color: white !important;
  border-color: #222222 !important;
}
.attachButton-1UjEWA {
  background-color: #1B1B1B !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}
.buttonContainer-21MN7J, .buttons-205you {
  background-color: #1B1B1B !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

/*SearchArea*/
.theme-dark .searchBar-3dMhjb {
  color: white !important;
  background-color: #222222 !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}



/*ChannelList*/
.theme-dark .name-3_Dsmg, .theme-light .name-3_Dsmg {
  color: var(--Channels-Color) !important;
}
.channels-Ie2l6A {
  background-color: #252525 !important;
}
.flexChild-faoVW3, .da-flexChild {
  background-color: #222222 !important;
}
.theme-dark .menu-Sp6bN1 {
  background-color: #101010 !important;
}
.theme-dark:hover .menu-Sp6bN1:hover {
  background-color: #101010 !important;
}
.popoutBottom-2GAFPg.noArrow-2foL9g, .popoutBottomLeft-1pG8B4.noArrow-2foL9g, .popoutBottomRight-2Rno5S.noArrow-2foL9g {
  border-radius: 20px;
}
.theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline {
  background: var(--Code-Block) !important;
  border-color: grey !important;

}
.isMentionedCozy-3isp7y {
  background: var(--Mentioned-background) !important;
  border-left-color: var(--Accent-color) !important;
}
.isMentionedCozy-3isp7y:after {
  border-left-color: var(--Mentioned-color) !important;
}
.theme-dark .messagesWrapper-3lZDfY {
  background-color: #252525 !important;
}



/*Memberlist*/
 {
  background-color: rgba(#1A1919, 1) !important;
}
.theme-dark .container-1r6BKw {
  background-color: #1B1B1B !important;
}
.scroller-2FKFPG {
  background-color: #252525 !important;
}
.theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3 {
  background-color: #222222 !important;
}
.theme-dark, .textArea-2Spzkt, .textArea-2Spzkt::-webkit-input-placeholder{
  color: white !important;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
  background-color: var(--Accent-color) !important;
  border-radius: 10px;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
  background-color: var(--Accent-color) !important;
}
.bda-slist .bda-footer button {
  background-color: var(--Accent-color) !important;
}
.bd-pfbtn {
  background-color: var(--Accent-color) !important;
}
.theme-dark .typing-2GQL18 {
  background-color: #252525 !important;
}
.themeDefault-24hCdX, .sizeDefault-2YlOZr {
  background-color: #1A1919 !important;
}
.themeDefault-24hCdX.valueChecked-m-4IJZ {
  background-color: var(--Accent-color) !important;
}
.headerTop-3C2Zn0 {
  background-color: #252525 !important;
}
.message-1PNnaP {
  font-family: var(--Mentioned-text-Font) !important;
}
.header-2tA9Os {
  background-color: #222222 !important;
}
.theme-dark .footer-3rDWdC {
  background-color: #252525 !important;
}
.theme-dark .markup-2BOw-j a {
  color: var(--link-color) !important;
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
  background-color: var(--Accent-color) !important;
}
a {
  color: var(--Accent-color) !important;
}
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
  background-color: var(--Accent-color) !important;
  border-color: var(--Accent-color) !important;
}
.header-2o-2hj {
  background-color: #101010 !important;
}
.container-3baos1 {
  background-color: #101010 !important;
}
.unreadBar-3YD_k9 {
  background-color: var(--Unred-Messages-Wrapper) !important;
}
.modeUnread-1zpFdA {
  color: white !important;
}
.theme-dark .wrapper-3WhCwL {
  color: var(--Channel-Color) !important;
  background-color: var(--Channel-Background) !important;
}
.inner-zqa7da {
  background-color: #1A1919 !important;
}
.theme-dark .BDFDB-modal .tabBarContainer-1s1u-z {
  background-color: #1A1919 !important;
}
.inner-ZyuQk0 {
  background-color: #222222 !important;
}
