//META{"name":"BetterDarkMode","description":"A better dark mode theme. Requires 'normalize classes'! User the ThemeSettings Plugin to customize the Theme.","author":"Strencher_", "version":"1.0.6 b-3"}*//{}

:root {
  --Accent-color: #9900ff; /*The account color. [default = #34F141]*/
  --Mentioned-color: red; /*The color if you get mentioned. [default = #34F141]*/
  --Mentioned-background: rgba(255,0,0,0.2); /*The backgroundcolor from the mentioned message. [default = rgba(52,241,65,.05)]*/
  --link-color: #34F141; /*The color of links like https://BetterDiscord.net [default = #34F141]*/
  --Mentioned-text-Font: Arial; /*The font of the mentioned messages inline included Role-mentionations. [default = Arial]*/
  --Channels-Color: #8e9297; /*Color of Channels (voice & text). [default = #8E9297]*/
  --Unred-Messages-Wrapper: grey; /*Background color of the "New unred messsages wrapper". [default = grey]*/
  --Code-Block: black; /* Background of the code blocks. [default = black]*/
  --Channel-Background: rgba(235,3,3,.2); /*Color of an #channel message. [default = rgba(235,3,3,.1)]*/
  --Channel-Color: white; /*Background of an #channel message. [default = white]*/
  --Important: !important; /*Clear the field if you dont want to add !Important to Codes. [default = !important]*/
  --Background-color: #222222; /*The background color of all. [default = #222222]*/
}

/*@Start*/

#bd-settingspane-container .content-column.default .bda-slist::before {
  content: "Please download the ThemeSettings Plugin. Link: \ https://github.com/mwittrien/BetterDiscordAddons/blob/master/Plugins/ThemeSettings/ThemeSettings.plugin.js \ If you alredy download it, ignore this." !important;
  color: red !important;
  font-weight: bold !important;
}
.inner-zqa7da {
  border-radius: 11px var(--Important);
}
.textArea-2Spzkt {
  background-color: var(--Background-color) var(--Important);
  color: white var(--Important);
  border-color: var(--Background-color) var(--Important);
}
.attachButton-1UjEWA {
  background-color: #1B1B1B var(--Important);
  border-top-left-radius: 11px var(--Important);
  border-bottom-left-radius: 11px var(--Important);
}
.buttonContainer-21MN7J, .buttons-205you {
  background-color: #1B1B1B var(--Important);
  border-top-right-radius: 11px var(--Important);
  border-bottom-right-radius: 11px var(--Important);
}

.theme-dark .searchBar-3dMhjb {
  color: white var(--Important);
  background-color: var(--Background-color) var(--Important);
  border-top-left-radius: 11px var(--Important);
  border-top-right-radius: 11px var(--Important);
  border-bottom-left-radius: 11px var(--Important);
  border-bottom-right-radius: 11px var(--Important);
}






.theme-dark .name-3_Dsmg, .theme-light .name-3_Dsmg {
  color: var(--Channels-Color) var(--Important);
}
.channels-Ie2l6A {
  background-color: #252525 var(--Important);
}
.flexChild-faoVW3, .da-flexChild {
  background-color: var(--Background-color) var(--Important);
}
.theme-dark .menu-Sp6bN1 {
  background-color: #101010 var(--Important);
}
.theme-dark:hover .menu-Sp6bN1:hover {
  background-color: #101010 var(--Important);
}
.popoutBottom-2GAFPg.noArrow-2foL9g, .popoutBottomLeft-1pG8B4.noArrow-2foL9g, .popoutBottomRight-2Rno5S.noArrow-2foL9g {
  border-radius: 20px;
}
.theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline {
  background: var(--Code-Block) var(--Important);
  border-color: grey var(--Important);

}
.theme-dark .isMentioned-N-h9aa {
  background-color: var(--Mentioned-background) var(--Important);
  border-left-color: var(--Accent-color) var(--Important);
}
.isMentionedCozy-3isp7y:after {
  border-left-color: var(--Mentioned-color) var(--Important);
}
.theme-dark .messagesWrapper-3lZDfY {
  background-color: #252525 var(--Important);
}

.theme-dark .container-1r6BKw {
  background-color: #1B1B1B var(--Important);
}
.scroller-2FKFPG, .theme-dark .bodyInner-245q0L {
  background-color: #252525 var(--Important);
}
.theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3 {
  background-color: var(--Background-color) var(--Important);
}
.theme-dark, .textArea-2Spzkt, .textArea-2Spzkt::-webkit-input-placeholder{
  color: white var(--Important);
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
  background-color: var(--Accent-color) var(--Important);
  border-radius: 10px;
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked {
  background-color: var(--Accent-color) var(--Important);
}
.bda-slist .bda-footer button {
  background-color: var(--Accent-color) var(--Important);
}
.bd-pfbtn {
  background-color: var(--Accent-color) var(--Important);
}
.theme-dark .typing-2GQL18 {
  background-color: #252525 var(--Important);
}
.themeDefault-24hCdX, .sizeDefault-2YlOZr {
  background-color: #1A1919 var(--Important);
}
.themeDefault-24hCdX.valueChecked-m-4IJZ {
  background-color: var(--Accent-color) var(--Important);
}
.headerTop-3C2Zn0 {
  background-color: #1A1919 var(--Important);
}
.message-1PNnaP {
  font-family: var(--Mentioned-text-Font) var(--Important);
}
.header-2tA9Os {
  background-color: #222222 var(--Important);
}
.theme-dark .footer-3rDWdC {
  background-color: #252525 var(--Important);
}
.theme-dark .markup-2BOw-j a {
  color: var(--link-color) var(--Important);
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
  background-color: var(--Accent-color) var(--Important);
}
a {
  color: var(--Accent-color) var(--Important);
}
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
  background-color: var(--Accent-color) var(--Important);
  border-color: var(--Accent-color) var(--Important);
}
.header-2o-2hj, .header-2o-2hj:hover, .clickable-2ap7je:hover  {
  background-color: #101010 var(--Important);
}
.container-3baos1 {
  background-color: #101010 var(--Important);
}
.unreadBar-3YD_k9 {
  background-color: var(--Unred-Messages-Wrapper) var(--Important);
}
.modeUnread-1zpFdA {
  color: white var(--Important);
}
.theme-dark .wrapper-3WhCwL {
  color: var(--Channel-Color) var(--Important);
  background-color: var(--Channel-Background) var(--Important);
}
.theme-dark .wrapper-3WhCwL:hover {
  background-color: rgba(224, 1, 1, 0.774) var(--Important);
}
.inner-zqa7da {
  background-color: #1A1919 var(--Important);
}
.theme-dark .BDFDB-modal .tabBarContainer-1s1u-z {
  background-color: #1A1919 var(--Important);
}
.inner-ZyuQk0 {
  background-color: #222222 var(--Important);
}
.newMessagesBar-mujexs {
  background-color: var(--Accent-color) var(--Important);
}
.autocompleteInner-zh20B_ {
  background-color: #1B1B1B var(--Important);
}
.theme-dark .selectorSelected-1_M1WV {
  background-color: #303030 var(--Important);
}
.selectable-3dP3y- {
  background-color: #222222 var(--Important);
}
.contextMenu-HLZMGh {
  background-color: #1A1919 var(--Important);
}
.theme-dark .header-ykumBX {
  background-color: #1A1919 var(--Important);
}
.resultsGroup-r_nuzN {
  background-color: #1A1919 var(--Important);
}
.container-1giJp5 {
  background-color: #1A1919 var(--Important);
}
.theme-dark .container-2x5lvQ section {
  background-color: #1B1B1B var(--Important);
}
.theme-dark .container-2x5lvQ .header-2C89wJ {
  background-color: #1A1919 var(--Important);
}
.container-3cGP6G {
  background-color: #1A1919 var(--Important);
}
.theme-dark .footer-1kmXd4 {
  background-color: #1A1919 var(--Important);
}
.theme-dark .searchHeader-1l-wpR {
  background-color: #1A1919 var(--Important);
}
.theme-dark .datePicker--XZbmJ {
  background-color: #222222 var(--Important);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
  background-color: #1A1919 var(--Important);
}
.theme-dark .focused-2bY0OD {
  background-color: #1A1919 var(--Important);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
  background-color: #1A1919 var(--Important);
}
.theme-dark .card-FDVird:before {
  background-color: #1A1919 var(--Important);
}
.uploadModal-2ifh8j, .uploadModal-2ifh8j .footer-3mqk7D {
  background-color: black var(--Important);
}
.checkbox-1ix_J3 {
  border-color: var(--Accent-color) var(--Important);
}
.attachPopout-1n-ZKM {
  background-color: #1A1919 var(--Important);
}
.theme-dark .footer-1fjuF6 {
  background-color: #1A1919 var(--Important);
}
.theme-dark .body-3iLsc4 {
  background-color: #222222 var(--Important);
}
.theme-dark .quickMessage-1yeL4E {
  background-color: #1B1B1B var(--Important);
}
.role-2irmRk {
  cursor: default;
  display: flex;
  flex-direction: row;
  height: 20px;
  line-height: 20px;
  margin: 0 4px 5px 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.role-2irmRk:before {
  opacity: 1;
  content: '';
  display: block;
  height: 27px;
  width: 0;
  border-right-width: 500px;
  border-right-style: solid;
  border-right-color: inherit;
  box-sizing: border-box;
  position: absolute;
  top: -2px;
  left: -2px;
  z-index: 3;
}

.role-2irmRk.addButton-pcyyf6 {
  border-color: transparent !important;
  cursor: pointer;
  border: 0;
}

.role-2irmRk .roleName-32vpEy {
  display: flex;
  order: 1;
  height: inherit;
  margin: 0 6px;
  font-size: 13px;
  font-weight: 500;
  z-index: 4;
}

.role-2irmRk .roleCircle-3xAZ1j {
  background-color: transparent !important;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0icm9sZVJlbW92ZUljb24tMml1MGlFIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0wIDBoMTJ2MTJIMCI+PC9wYXRoPjxwYXRoIGNsYXNzPSJmaWxsIiBmaWxsPSIjZmZmZmZmIiBkPSJNOS41IDMuMjA1TDguNzk1IDIuNSA2IDUuMjk1IDMuMjA1IDIuNWwtLjcwNS43MDVMNS4yOTUgNiAyLjUgOC43OTVsLjcwNS43MDVMNiA2LjcwNSA4Ljc5NSA5LjVsLjcwNS0uNzA1TDYuNzA1IDYiPjwvcGF0aD48L2c+PC9zdmc+);
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  order: 2;
  margin: 0 3px 0 0;
  z-index: 5;
  opacity: 0.5;
}

.role-2irmRk .roleCircle-3xAZ1j:hover {
  opacity: 1;
}


.role-2irmRk .roleCircle-3xAZ1j:not(.roleCircleButton-377y0l) {
  display: none;
}

.role-2irmRk .roleCircle-3xAZ1j svg {
  visibility: hidden;
}
::-webkit-scrollbar {
  background-color: #222222 !important;
}
::-webkit-scrollbar-button {
  background-color: #222222;
}
::-webkit-scrollbar-thumb {
  background-color: #1a1919 !important;
  border-radius: 10px !important;
  border-color: #1a1919 !important;
}
::-webkit-scrollbar-track-piece {
  background-color: #222222 !important;
  border-color: #222222 !important;
}
.theme-dark .messagesPopout-24nkyi {
  background-color: #222222 var(--Important);
}
.theme-dark .tierBody-x9kBBp {
  background-color: #222222 var(--Important);
}
.tierHeaderContent-2-YfvN {
  background-color: #1A1919 var(--Important);
}
.children-19S4PO:after {
  display: none var(--Important);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled {
  background-color: #131313 var(--Important);
}
.theme-dark .option-96V44q:after {
  display: none;
}
.inner-3ErfOT {
  background-color: #1a1919 var(--Important);
}
.childWrapper-anI2G9 {
  background-color: #131313 var(--Important);
}
.theme-dark .option-96V44q.selected-rZcOL-:hover {
  background-color: #131313 var(--Important);
} 
.header-1TOWci {
  background-color: #1A1919 var(--Important);
}
.container-2jxBbw {
  background-color: #222222 var(--Important);
}
.modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU {
  background-color: #101010 var(--Important);
}
.item-PXvHYJ da-item {
  background-color: var(--Accent-color) var(--Important);
}
.popout-2iWAc-.popout-googletranslate .themedPopout-1TrfdI {
  background-color: #222222 var(--Important);
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: var(--Accent-color) var(--Important);
}
