//META{"name":"CustomTitleTag","description":"Allow's you to specific a Custom Discord title Tag","author":"Strencher_","version":"1.0.1"}*//{}

:root {
  --Text: "DISCORD"; /* Use you own text. [default = "DISCORD"]*/
  --Bold-or-not: bold; /*Bold  or not if not, chance to none. [default = bold]*/
  --Color: #fff; /*Color of the CustomTag. [default = white / #fff]*/
  --Font-size: 15px; /*The font size of the CustomTitleTag. [default = 15px]*/
  --Important:  /*Clear the field if you dont want to add !Important to Codes. [default = !important]*/
}

#bd-settingspane-container .content-column.default .bda-slist::before {
  content: "Please download the ThemeSettings Plugin. Link: https://github.com/mwittrien/BetterDiscordAddons/blob/master/Plugins/ThemeSettings/ThemeSettings.plugin.js If you alredy download it, ignore this."
  color: red
  font-weight: bold var(--Important);
}

.wordmark-2iDDfm {
  font-size: var(--Font-size);
  padding: 0;
  font-weight: var(--Bold-or-not);
  color: var(--Color);
}

.wordmark-2iDDfm::before {
  content: var(--Text);
  display: block;
  height: 17px;
  width: 500px;
  margin: 3px 0;
}

.wordmark-2iDDfm svg {
  display: none;
}
.wordmarkWindows-1v0lYD {
  left: 5px;
}
