.container {
    display: flex;
    align-items: center;

    .header {
        font-weight: 700;
    }

    .tag {
        font-size: 12px;
        color: var(--text-normal);
        margin-left: 5px;
    }
}