.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        display: block;
    }

    .tick {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}