.invisibleTypingButton {
    width: 32px;
    min-width: 32px;
}

.disabledStrokeThrough {
    position: absolute;
    transform: translateX(-15px) translateY(530px) rotate(-45deg);
}

.invisibleTypingTooltip {
    display: inline-flex;
}
