.invisibleTypingButton svg {
    color: var(--interactive-normal);
    overflow: visible;
}

.invisibleTypingButton {
    box-sizing: border-box;
    padding: 0;
    margin-inline: 0;
    min-height: var(--space-32);
    min-width: var(--space-32);

    &:hover:not(.disabled) svg {
        color: var(--interactive-hover);
    }
}

.invisibleTypingTooltip {
    display: inline-flex;
}
