.wrap {
    display: flex;
    flex-direction: column;

    .header {
        text-transform: none;
        padding: 10px 0;
        align-items: center;
        justify-content: center;
        font-family: var(--font-primary);
        border-bottom: thin solid var(--background-modifier-accent);
        --background-modifier-selected: var(--background-accent);
        background: var(--background-mobile-secondary);
    }

    :global(.container-2o3qEW) {
        max-height: calc(100% - 45px);
    }
}