.connection {
    width: 30px;
    height: 30px;
    position: relative;

    &.verified {
        border-radius: 50%;
        overflow: hidden;

        .verifiedBadge {
            width: 12px;
            height: 12px;
            position: absolute;
            bottom: -1px;
            right: -1px;
            background: var(--background-floating);
            border-radius: 50%;
            overflow: hidden;
            padding: 2px;
        }
    }
}